.banner-container{
    position: absolute;
    min-height: 100%;
    width: 20%;
    background-color: rgb(129, 129, 252);
}

.banner-title{
    text-align: center;
}

.user-img{
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50%;
}

.contact-box{
    position: relative;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.title-text{
    font-size: 1.5vw;
}