.banner-container{
    position: relative;
    min-height: 100%;
    max-width: 290px;
    background-color: rgb(129, 129, 252);
    display: inline-block;
}

.banner-title{
    text-align: center;
}

.user-img{
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50%;
}

.contact-box{
    position: relative;
    width: 100%;
    text-align: left;
}

.contact-box p{
    display: inline-block;
}

.skills-box{
    text-align: left;
    position: relative;
    width: 100%;
    padding-left: 20px;
}

.skills-list p {
    display: inline-block;
}

.traits-box{
    text-align: left;
    position: relative;
    width: 100%;
    padding-left: 20px;
}

.tools-box{
    text-align: left;
    position: relative;
    width: 100%;
    padding-left: 20px;
}

.tools-list p {
    display: inline-block;
}

.title-text{
    font-size: 20px
}